{% extends 'main/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="container mt-5 d-flex flex-column align-items-center text-center">
    <h2 style="margin-left: 5%; margin-right: auto;">Перед Вами кулинарная книга</h2>
    <div class="row mt-4">
        <div class="col-md-6">
            <p>Перед Вами «Кулинарная книга», в которую Вы можете добавлять понравившиеся рецепты, а также Ваши личные кулинарные шедевры.</p>
            <p>Так же в нашей кулиранрной книге Вы сможете вести учёт ваших товаров, составлять список покупок, узнавать цены на товар, а также готовить блюдо по чеклисту и использовать таймер</p>
            <p>Поварская Книга - это ваш верный спутник в мире готовки. Независимо от того, являетесь ли вы начинающим поваром или опытным гурманом, наш сайт поможет вам упростить и улучшить ваш опыт приготовления пищи. Добро пожаловать в нашу виртуальную кулинарную лабораторию!</p>
            <p>На нашем сайте есть: </p>
            <ul>
                <li>Создание и сохранение ваших рецептов</li>
                <li>Список ваших продуктов</li>
                <li>Список покупок</li>
                <li>Рецепты других пользователей</li>
                <li>Личный кабинет</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}