{% extends 'main/base.html' %}

{% block title %}Продукты{% endblock %}

{% block content %}
    <h1>Поиск товара</h1>
    <form method="get" action="{% url 'products' %}">
        <input type="text" name="q" value="{{ query }}" placeholder="Введите название товара">
        <button type="submit">Поиск</button>
    </form>

    {% if results %}
        <h2>Результаты поиска</h2>
        <ul>
            {% for product in results %}
                <li>{{ product.name }} - Цена: {{ product.price }} ₽</li>
                <form method="post" action="{% url 'products' %}">
                    {% csrf_token %}
                    <input type="hidden" name="product" value="{{ product.id }}">
                    <input type="number" name="quantity" placeholder="Введите количество" required>
                    <button type="submit">Добавить в инвентарь</button>
                </form>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Добавление нового товара в инвентарь</h2>
    <form method="post" action="{% url 'products' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.product.id_for_label }}">Товар:</label>
            {{ form.product }}
        </div>
        <div class="form-group">
            <label for="{{ form.quantity.id_for_label }}">Количество:</label>
            {{ form.quantity }}
        </div>
        <button type="submit">Добавить в инвентарь</button>
    </form>

    <div class="custom-container">
        <form class="form-inline ml-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="Найти ваш товар" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
        </form>
        <h2 class="custom-heading">Ваши продукты</h2>
        <ul class="custom-list">
            {% for item in user_inventory %}
                <li class="custom-item">
                    {{ item.product.name }}
                    Цена: {{ item.product.price }} ₽
                    Кол-во:
                    <span id="quantity_{{ item.product.id }}">{{ item.quantity }}</span>

                    <!-- Кнопка уменьшения количества -->
                    <button onclick="decreaseQuantity({{ item.product.id }})">-</button>

                    Дата покупки: {{ item.date_of_purchase }}
                    Наличие: {{ item.availability }}

                    <button onclick="deleteProduct({{ item.product.id }})">Удалить</button>
                </li>
            {% empty %}
                <li class="custom-item">Ваш список продуктов пуст :(</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}