/* Стили для переключателя темы */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

input[type="checkbox"]:checked + .slider {
    background-color: #2196F3;
}

input[type="checkbox"]:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

body.dark-theme {
    background-color: #333;
    color: #fff;
}


aside {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


#sidebar {
    width: 5%;

    position: absolute;

    /*left: -250px;  *!*/
    /*transition: left 0.3s; !*  *!*/
    /*display: flex;*/
    /*flex-direction: row; !*  *!*/
    /*justify-content: space-between; !*  *!*/
    /*align-items: center;*/
}

#toggleSidebar {
    position: fixed;
    height: 50px; /* Увеличьте высоту */
    width: 50px; /* Увеличьте ширину */
    margin-top: 2px;
    opacity: 1; /* Убедитесь, что прозрачность установлена в 1 */
}



